/* PHASE 2: Navigation */

.header-logo {
  float: left;
  border-right: 1px solid #aaa;
  padding: 0 10px;
  font-weight: 700px;
}

.header-logo:hover {

}

.header-list {
  float: right;
}

.header-list > li {
  float: left;
  border-left: 1px solid #aaa;
  padding: 0px 10px;
}

.header-list > li:hover {
  background: black;
}
